
.header__texts{
    text-align: center;
    align-self: center;
    position: relative;
    align-items: center;
    margin: 0 auto;
    top: 30vh;
    
}

.header__bg-img{
    margin-top: 17rem;
    margin-right: 5rem;
    height: calc((100vh - 10rem)/2);
    float: right;
    opacity: 0.2;
    object-fit: contain;
}

.header__texts h1{
    font-weight: 200;
    letter-spacing: 0.23rem;
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 2rem;
    font-size: 1.5rem;
} 

.header__texts span{
    font-weight: 300;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
}

.btn--header{
    margin-top: 5rem;
    font-size: 0.7rem;
}

.btn--header a{
    text-decoration: none;
}








.cards__section h2
{
    font-weight: 400;
    font-size: 1.47rem;
    margin: 0;
    margin-top: 4rem;
}

.cards__section ul{
    align-items: center;
    margin: 0 ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 3rem ;
    align-items: center;
}
.card-container{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 12rem;
    height: 9rem;
    padding: 1rem;
    text-decoration: none;
    
}
.card-container:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.card-container a{
    display: grid;
    text-decoration: none;
    position: relative;
    text-align: center;
    align-self: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}