@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Montserrat:wght@300;500;700&family=Niramit:wght@200;300;400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

:root{
    font-family: 'Niramit', sans-serif;
    font-size: 18px;
    color: #333;
    --logo-red : #e8081d;
    --logo-red-light : rgba(232,8,29, 0.4);
    --logo-purple : #540582;
    --logo-marsala : #9a0651;
    --gradient-red-purple : linear-gradient(#540582, #e8081d,#540582)
}

*{
    box-sizing: border-box;
}

ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
body{
    margin: 0;;
}
li{
    margin-right: 2rem;
    padding-left: 0;
}
header{
    height: calc(100vh - 7rem - 10vh);
    width: 100%;
    margin: 0;
}
main{
    position: absolute;
    top: 200vh;
}

.container{
    max-width: 1140px;
    align-items: center;
    margin: 0 auto;
}

.navbar{
    position:static;
    margin: 0;
    width: 100%;
    padding: 0.6rem 0;
    align-items: center;
    background-color: #FFF;
    border-bottom: 0.2rem solid var(--logo-red-light);
}
.container__navbar{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.navbar img{
    max-height: 4rem;
    justify-self: center;
    align-self: center;
    margin: 0.8rem  0;
}

.navbar__links{
    justify-self: center;
    font-size: 1rem;
    text-transform: capitalize;
    font-weight: 600;
}

.navbar__links a{
    color: var(--logo-purple);
    text-decoration: none;
}

.navbar__links a:hover{
    color: var(--logo-marsala);
}
.header__texts{
    text-align: center;
    align-self: center;
    position: relative;
    align-items: center;
    margin: 0 auto;
    top: 15vh;
    
}
.header__texts h1
{
    font-weight: 200;
    letter-spacing: 0.23rem;
    font-size: 1.5rem;
    margin: 0;
}
.header__texts h2
{
    font-weight: 400;
    font-size: 1.47rem;
    margin: 0;
    margin-top: 4rem;
} 

.header__bg-img{
    margin-top: 17rem;
    margin-right: 5rem;
    height: calc((100vh - 10rem)/2);
    float: right;
    opacity: 0.2;
    object-fit: contain;
}


.header__texts ul{
    align-items: center;
    margin: 0 ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 3rem ;
    align-items: center;
}
.card-container{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 12rem;
    height: 9rem;
    padding: 1rem;
    text-decoration: none;
    
}
.card-container:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.card-container a{
    display: grid;
    text-decoration: none;
    position: relative;
    text-align: center;
    align-self: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.color-purple{
    color: var(--logo-purple) !important;
}